<link rel="stylesheet" type="text/css" href="/assets/css/book.entry.css">
<div class="row book-entry">
  <div class="col s12 m5">
        <img class="cover-image" ng-src="{{book.high_res_image || book.large_image || book.medium_image || book.small_image || book.thumbnail_image}}">
  </div>
  <div class="col s12 m7 v-middle">
    <div class="card book-info">
      <span class="card-title title">{{ book.title }}</span>
      <div class="card-content">
        <div>Author: {{ book.author.name }}</div>
        <div>Rating: {{ book.avgReaction }} </div>
      </div>
      <div ng-if="true">
        <div class="reactions card-action center-align">
          <!-- uses a different step as opposed to min/max due to when angular sets value -->
          <!-- step is 25 and value is set to the 0-100 equivalent of 1-5 -->
          <form action="#">
            <p class="range-field">
              <input type="range" step="25" value="{{ (book.reaction - 1) * 25 }}" ng-model="reactionSlider" class="reaction-slider"/>
              <div class="left">{{ reactions[1] }}</div>
              <span style="align: center" ng-if="reactionSlider > 0 && reactionSlider < 100">{{ reactions[reactionSlider/25 + 1] }}</span>
              <div class="right">{{ reactions[5] }}</div>
            </p>
          </from>
        </div>
      </div>
    </div>
  </div>
</div>
